.page10_button {
    height: 6vh;
    position: absolute;
    left: calc(50vw - 7vh);
    top: 85vh;
}

.blessingBar {
    position: absolute;
    top: 10vh;
    left: calc(50vw - 20vh);
    /* border: solid black;
    padding: 1vh; */
    /* height: 20vh; */
}

.blessingBarCon {
    position: relative;
}

.blessingBackground {
    position: absolute;
    height: 50vh;
}

.completeButton {
    position: absolute;
    height: 5vh;
    top: 40vh;
    left: 10vh;
}

.blessingMessage {
    position: absolute;
    top: 10vh;
    left: 2vh;
}