.page {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    text-align: center;
    /* background-color: black; */
    /* width: 500px; */
    margin: 0 auto;
    /* position: absolute; */
    position: relative;
    /* width: 56.33802vh; */
}

.background {
    height: 100%;
    z-index: -1;
    position: absolute;
    left: calc(50vw - 28.169vh);
    transition: 3s;
}

.transparent-background {
    height: 100%;
    z-index: -1;
    position: absolute;
    left: calc(50vw - 28.169vh);
    opacity: 0;
}

.word {
    height: 100%;
    position: absolute;
    left: calc(50vw - 28.169vh);
    transition: 2s;
}

.transparent-word {
    height: 100%;
    position: absolute;
    left: calc(50vw - 28.169vh);
    opacity: 0;
}

.flower {
    height: 100%;
    z-index: -1;
    position: absolute;
    left: calc(50vw - 28.169vh);
    transition: 1.5s;
}

.transparent-flower {
    height: 100%;
    z-index: -1;
    position: absolute;
    left: calc(50vw - 28.169vh);
    opacity: 0.3;
    transition: 1.5s;
}

/* .transparentPage {
    height: 100vh;
    text-align: center;
    margin: 0 auto;
    position: relative;
    transition: 0.5s;
} */

.leftArrow {
    height: 7vh;
    position: absolute;
    top: 91vh;
    left: calc(50vw - 3vh);

    transition: 1s;
}

.transparent-leftArrow {
    height: 7vh;
    position: absolute;
    top: 91vh;
    left: calc(50vw - 3vh);

    opacity: 0.2;
    transition: 1s;
}
